In [2]:
# import relevant libraries
import pandas as pd
import json
import requests
import math
import time

url_sql = "https://api.opendota.com/api/explorer"

In [35]:
test = "SELECT match_id, hero_id FROM player_matches WHERE match_id BETWEEN 3710610589 AND 5000000000"

params = {"sql": test}

response = requests.get(url=url_sql, params=params)

print(response)

data = response.json()

data

df_first = pd.DataFrame(data["rows"])

n = 
df_first.columns

<Response [400]>

KeyError: 'rows'

In [48]:
n = 3710610588

df_players_matches = pd.DataFrame()

while n < 8721721938:
  test = f"SELECT match_id, account_id, player_slot, hero_id FROM player_matches WHERE match_id BETWEEN {n} AND {n + 125000000}"
  params = {"sql": test}
  n += 125000000
  response = requests.get(url=url_sql, params=params)

  data = response.json()
  df_temp = pd.DataFrame(data["rows"])

  df_players_matches = pd.concat([df_players_matches, df_temp], axis=0)
  time.sleep(2)
  print(df_players_matches.shape)

df_players_matches.shape

(18060, 4)
(31240, 4)
(40870, 4)
(65220, 4)
(86310, 4)
(103610, 4)
(120160, 4)
(137130, 4)
(156150, 4)
(180820, 4)
(216440, 4)
(266480, 4)
(309620, 4)
(365670, 4)
(416610, 4)
(463260, 4)
(504150, 4)
(532340, 4)
(563350, 4)
(601360, 4)
(646760, 4)
(685250, 4)
(737060, 4)

KeyError: 'rows'

In [49]:
df_players_matches

         match_id   account_id  player_slot  hero_id
0      3710610589  125581247.0            0       72
1      3710610589  106863163.0            1       11
2      3710610589   94296097.0            2        3
3      3710610589  101695162.0            3       62
4      3710610589   94738847.0            4      108
...           ...          ...          ...      ...
51805  6585511567   92028391.0          128      121
51806  6585511567  366294622.0          129        4
51807  6585511567  141690233.0          130       90
51808  6585511567   93526520.0          131      129
51809  6585511567   96169991.0          132        9

[737060 rows x 4 columns]

In [50]:
# df_players_matches.drop_duplicates()
n = 6410610588

while n < 8721721938:
  test = f"SELECT match_id, account_id, player_slot, hero_id FROM player_matches WHERE match_id BETWEEN {n} AND {n + 125000000}"
  params = {"sql": test}
  n += 125000000
  response = requests.get(url=url_sql, params=params)

  data = response.json()
  df_temp = pd.DataFrame(data["rows"])

  df_players_matches = pd.concat([df_players_matches, df_temp], axis=0)
  time.sleep(2)
  print(df_players_matches.shape)

df_players_matches.shape

(785460, 4)
(850150, 4)
(908160, 4)
(951590, 4)
(1021740, 4)
(1089070, 4)
(1165480, 4)
(1224550, 4)
(1285902, 4)
(1358102, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)
(1390502, 4)

(1390502, 4)

In [51]:
df_players_matches.shape, df_players_matches.drop_duplicates().shape

((1390502, 4), (1319872, 4))

In [52]:
df_players_matches.drop_duplicates(inplace=True)

In [21]:
# df_players_matches.to_csv("data/raw/players_matches.csv", index=False)

In [53]:
project_id = "integral-cell-418310"

df_players_matches.to_gbq("dota2.players_matches", project_id=project_id)

/tmp/ipykernel_2643722/1094301747.py:3: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df_players_matches.to_gbq("dota2.players_matches", project_id=project_id)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 13443.28it/s]